@import '../../../styles/variables.scss';

.pictureBoxQ {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 1vh;
  border-radius: 1vw;
  position: relative;
}

.nameBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 96%;
  margin-left: 2%;
  background-color: black;
  opacity: 0.8;
  border-radius: 1vw;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  pointer-events: none;
  /* background-color: hotpink; */
  width: 96%;
  height: 40px;
  padding: 0.1vw;
  margin-left: 2%;
  margin-top: -15%;
  opacity: 0.8;
  border-radius: 1vw;
}

.likeButtonContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  pointer-events: none;
  /* background-color: hotpink; */
  height: 35px;
  padding: 0.1vw;
  margin-left: 2%;
  margin-top: 0%;
  border-radius: 1vw;
}

.animalLabelP {
  display: flex;
  align-items: center;
  width: 90%;
  font-size: clamp(0.5rem, 2.5vw, 1rem);
  text-align: left;
  margin-top: 2%;
  padding-left: 0.5vw;
  color: #f0eeeb;
  opacity: 0.7;
  overflow: hidden;
  /* background-color: greenyellow; */
}

.atagp {
  display: flex;
  align-items: center;
  margin-right: -0.5vw;
  padding: 0.5vw;
  width: 3vw;
  z-index: 6;
}

.userLabel {
  width: fit-content;
  margin-top: 2%;
  border-radius: 10px;
  font-family: $base-font-family;
  font-size: $fontSizeStandardText;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  color: #f0eeeb;
  background-color: $primaryBlue;
  cursor: pointer;
  pointer-events: all;
}

.countIndicator {
  color: #f0eeeb;
  font-size: $fontSizeStandardText;
  background-color: black;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  height: 90%;
  width: 40px;
  margin-right: -10%;
  border-bottom-left-radius: 1vw;
  border-top-left-radius: 1vw;
  z-index: -1;
}

.likeIcon {
  cursor: pointer;
  pointer-events: all;
}

.commentPrompt {
  display: flex;
  flex-direction: row;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  color: $primaryBlue;
  font-size: $fontSizeSubHeading;
  font-family: $base-font-family;
  cursor: pointer;
  text-decoration: underline;
}
.commentPrompt:hover {
  text-decoration: none;
}

