.commentListItem-container {
  display: flex;
  flex-direction: column;
  background-color: #537bdb;
  border-radius: 10;
  width: 94%;
  margin-left: 1%;
  margin-top: 2%;
  padding: 2%;
}

.topBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -2vh;
  margin-top: -1vh;
  /* background-color: pink; */
}

.userTxt {
  font-family: Itim;
  font-size: 1rem;
  color: black;
}

.dateTxt {
  font-family: Itim;
  font-size: 1rem;
  color: lightgrey;
}

.contentTxt {
  /* background-color: green; */
  font-family: Itim;
  font-size: 1.5rem;
  color: black;
  align-self: start;
  margin-bottom: 0vh;
}

.replyTxt {
  font-family: Itim;
  font-size: 1.5rem;
  color: white;
  margin-top: 1vh;
  margin-left: 0vw;
  border-bottom-width: 0;
  cursor: pointer;
}

.commentEntryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: green; */
    /* background-color: #538bdb; */
    margin-top: 1%;
  }

  .replyBox {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    width: 90%;
    /* height: 100%; */
  }

  .replyLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    background-color: #537dbd;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: -10%;
    margin-bottom: -2.5%;
    height: 3vh;
    width: 70%;
  }