.wrapper {
    width: 100vw;
    height: 100vh;
    /* background: pink */
  }

  .container {
    width: 100%;
    height: 100%;
    /* opacity: rgb(0,0,0,0.9); */
  }

  .character {
    position: absolute;
    bottom: -10vh; 
    left: 100vw; 
    height: 90vh;
    width: 50vw;
    opacity: rgb(0,0,0,1);
    /* background-color: green */
  }

  .talkbox {
    position: absolute;
    top: 100vh;
    left: 25vw;
    width: 50vw;
    height: min-content;
    background-color: white;
    border-radius: 15px;
    align-self: center;
    padding: 0.5vw;
    padding-bottom: 1vh;
  }

  .textcontain {
    font-family: Itim;
    font-size: 1.8vw;
    height: min-content;
    /* background-color: khaki; */
  }

  .tx2 {
    margin-top: 15px;
  }

  .questionbuttonwrapper {
    position: absolute;
    top: -200vh;
    left: 30%;
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 5vw;
  }

  .explorebuttonwrapper {
    position: absolute;
    top: -200vh;
    left: 30%;
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-radius: 5vw;
  }

  .container3 {
    /* flex: 1; */
    position: absolute;
    top: -350vh;
    left: 6vw;
    z-index: 200;
    background-color: transparent;
    align-items: center;
    /* margin-top: -3%; */
    /* height: 20vh; */
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0vh;
    border-radius: 15;
    /* background-color: green */
  }

  .picContainer3 {
    width: 18vw;
    height: 22vh;
    margin-bottom: -4vh;
    /* background-color: #538bdb; */
    border-radius: 15;
    z-index: 250;
  }

  .usernamerwrapper{
    position: absolute;
    top: -200vh;
    left: 35vw;
    width:  30vw;
    height: 35vh;
    margin-bottom: 5px;
    /* background-color: #538bdb; */
    margin-top: 0%;
    border-radius: 15px;
    z-index: 10;
  }

  .shadowbox{
    width:  100%;
    height: 100%;
    z-index: 220;
  }

  .userContainer {
    position: absolute;
    top: 20%;
    background-color: transparent;
    align-items: center;
    /* margin-top: -3%; */
    height: 90%;
    margin-right: (10);
    margin-left: (10);
    border-radius: 15;
    /* background-color: green */
  }

  .nextTutButton {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -200vh;
    left: 15%;
    width: 270px;
    height: 30px;
    background-color: #538bdb;
    align-items: center;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border-color: lightgrey;
    border-width: 2px;
    cursor: pointer;
  }

  .nextTutText {
    color: white;
    font-family: Itim;
    font-size: 24px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
  }
 
  .micro {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: black;
    opacity: 0.6;
    width: 96%;
    height: 3vh;
    border-radius: 5;
    z-index: 2;
    left: 5%;
    top: -10%;
  }

  .titleTextX {
    margin-left: 1vw;
    font-family: 'Itim';
    color: #F0EEEB;
    font-size: 1vw;
  }

  

  .anchorclusterwrapper {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50;
    position: absolute;
    top: -250vh;
    left: 10%;
    height: 60vh;
    width: 28vw;
    opacity: 1;
    /* background-color: khaki; */
  }

  .anchorclust {
    margin-top: 22vh;
    margin-left: 1vw;
  }

  .anchor1 {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50;
    position: absolute;
    top: 0;
    left: 20vw;
    height: 10vw;
    width: 10vw;
    opacity: 1;
    margin-bottom: 15;
  }

  .anchor2 {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50;
    position: absolute;
    top: 0px;
    left: 3vw;
    height: 10vw;
    width: 10vw;
    opacity: 1;
    margin-bottom: 15;
  }

  .anchor3 {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50;
    position: absolute;
    top: 46vh;
    left: 3vw;
    height: 10vw;
    width: 10vw;
    opacity: 1;
    margin-bottom: 15;
  }

  .anchor4 {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50;
    position: absolute;
    top: 46vh;
    left: 20vw;
    height: 10vw;
    width: 10vw;
    opacity: 1;
    margin-bottom: 15;
  }

  .anchorSpec {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50;
    position: absolute;
    top: -10;
    height: 25;
    width: 25;
    opacity: 1;
    margin-top: -25;
  }

  .heatpointwrapper {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    top: -200vh;
    left: 50%;
  }

  .arrowWrapper {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 50;
    position: absolute;
    top: -200vh;
    left:  25%;
    height: 25vh;
    width: 25vw;
    opacity: 1;
    /* background-color: plum; */
  }

  .honkCon {
    position: absolute;
    top: 0;
    left: 0;
    height: 5vw;
    width: 5vw;
    border-radius: 10;
    /* background-color: blue; */
  }

  .tinyHeat{
    /* position: absolute;
    top: 38%;
    left: 85%; */
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 10;
    /* background-color: blue; */
  }

  .tinyHeat2{
    position: absolute;
    top: 38%;
    left: 77%;
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 10;
    margin-bottom: 5px;
    /* background-color: blue; */
  }

  .guidebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -200vh;
    left: 30%;
    height: 8vh;
    width: 9vw;
    border-radius: 20px;
    animation: changeBg 4s linear infinite;
    border-radius: 15;
   
  }

  @keyframes changeBg {
    0% {
      background-color: maroon;
    }
    40% {
      background-color: maroon;
    }
    50% {
      background-color: #C49102;
    }
    90% {
      background-color: #C49102;
    }
    100% {
      background-color: maroon;
    }
  }

  .guidetext {
    color: black;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5vw;
    /* margin-top: 12px; */
    /* padding-right: 10px;
    padding-left: 10px; */
  }



