
  .wrapper2 {
    width: 100%;
    height: 100%;
    /* background: pink */
  }

  .container {
    width: 100%;
    height: 100%;
    /* opacity: rgb(0,0,0,0.9; */
  }

  .character2 {
    position: absolute;
    bottom: -10vh; 
    left: 100vw; 
    height: 90vh;
    width: 50vw;
    opacity: rgb(0,0,0,1);
    /* background-color: green */
  }

  .talkbox2 {
    position: absolute;
    top: 100vh;
    left: 25vw;
    width: 50vw;
    height: min-content;
    font-family: Itim;
    font-size: 1.8vw;
    background-color: white;
    border-radius: 15px;
    align-self: center;
    padding: 0.5vw;
    padding-bottom: 1vh;
  }

  .textContain {
    padding: 10;
    font-family: Itim;
    font-size: 14px;
  }

  .dsSearchbuttonwrapper {
    position: absolute;
    top: -200vh;
    left: 30%;
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 5vw;
  }

  .dsAddbuttonwrapper {
    position: absolute;
    top: -200vh;
    left: 30%;
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 5vw;
  }

  .myLocationbuttonwrapper {
    position: absolute;
    top: -200vh;
    left: 30%;
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 5vw;
  }

  .pinbuttonwrapper {
    position: absolute;
    top: -200vh;
    left: 30%;
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 5vw;
  }

  .mantaWrapper {
    position: absolute;
    top: -200vh;
    left: 30%;
    width: 120px;
    height: 120px;
  }

  .nextTutButton2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top: -200vh;
    left: 15%;
    width: 20vw;
    height: 4vh;
    background-color: #538bdb;
    align-items: center;
    padding-right: 1vw;
    padding-left: 2vw;
    padding-top: 3vh;
    padding-bottom: 4vh;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 20px;
    border-color: lightgrey;
    border-width: 2px;
    cursor: pointer;
  }

  .nextTutText2 {
    color: white;
    font-family: Itim;
    font-size: 2vw;
    height: 3vh;
    margin: 1vw;
    cursor: pointer;
  }
