
  .container {
    display: flex;
    flex-direction: column;
    background-color: #538bdb;
    opacity: 1;
    align-items: center;
    justify-content: center;
     /* height: scale(53); */
    border-radius: 15px;
    width: 50vh;
    height: 30vh;
    padding-bottom: 30px;
    padding-top: 1px;
    font-size: 2rem;
    margin-top: 10px;
  }

  .titleText {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: #F0EEEB;
    font-size: 3vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  
  .input {
    font-family: 'Itim';
    background-color: #538dbd;
    border-radius: 10;
    width: 200px;
    height: 40;
    align-self: center;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
  }

  .inputRed {
    font-family: Itim;
    background-color: pink;
    border-radius: 10;
    width: 200px;
    height: 40;
    align-self: center;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
  
  }
  
  .erroMsgU {
    padding: 0.5vw;
    margin-top: 1vh;
    color: pink;
    font-family: Itim;
    font-size: 1.5vw;
    width: 80%;
    border-style: dashed;
    border-radius: 15px;
    border-color: darkblue;
    border-width: 1px;
  }

  .OKbutton {
    background-color: #538bdb;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10;
    height: 3vh;
    width: 10vw;
     /* marginLeft: 30%; */
    margin-top: 1vh;
    margin-bottom: 15px;
  }

  .OKbuttonPressed {
    background-color: #538dbd;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10;
    height: 25px;
    width: 150px;
     /* marginLeft: "30%"; */
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .buttontext {
    color: gold;
    font-size: 2vw;
    font-family: 'Patrick Hand', cursive;
    width: 100%;
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .pinButton{
    display: flex;
    width: 8vw;
    height: 5vh;
    margin-top: 1vh;
    align-items: center;
    justify-content: center;
    background-color: #538bdb;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}
