.masterDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x:hidden;
  height: 94%;
  /* background-color: khaki; */

}

.masterDiv:hover{
  overflow-y: auto;
}

.commentListContainer {
  /* background-color: green; */
  overflow: hidden;
}

.middleContainer{
  width: 98%;
  height: 60%;
  overflow: hidden;
  overflow-y: auto;
}
