.successModal {
  z-index: 200;
  position: absolute;
  top: 120vh;
  left: 0;
  width: 30vw;
  height: 30vh;
  background-color: #99edc3;
  border-radius: 2vw;
  border: 1px solid lightgrey;
}

.containerS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15;
  margin-top: 10%;
}
.titleS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0%;
  width: 90%;
}
.textS {
  font-size: 1.2rem;
  color: #36454f;
  font-family: "Itim", cursive;
  align-self: center;
  text-align: center;
  margin-bottom: 10%;
  width: 90%;
}
.text2S {
  font-size: 1rem;
  width: 90%;
  color: #36454f;
  font-family: "Itim", cursive;
  align-self: center;
  text-align: center;

}

.OKbuttonS {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Itim", cursive;
  font-size: 1em;
  cursor: pointer;
  background-color: #79bace;
  width: 12vw;
  height: 4vh;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
  margin-top: 10%;
}

.OKbuttonS:hover {
  background-color: #6ca7b9;
}
.OKbuttonS:active {
  background-color: #93c7d7;
}
