.masterDiv{
  overflow-y: hidden;
  overflow-x:hidden;
  max-height: 80vh;
}

.masterDiv:hover{
  overflow-y: auto;
}

.titleDiv{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 49px;
  /* background-color: green; */
  width: 95%;
  margin-left: 5px;
  margin-top: -30px;
  font-family: 'Patrick Hand', cursive;
  font-size: 34px;
  color: #F0EEEB;
}

.mainBlurbDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 10%;
  font-family: 'Indie Flower';
  color: #F0EEEB;
  height: 65vh;
  width: 80%;
  /* background-color: mediumaquamarine; */
}

.introGuideLaunch {
  display: flex;
  font-family: 'Itim', cursive;
  font-size: 16px;
  cursor: pointer;
  background-color: #538bdb;
  width: 160px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
  margin-top: 5%;
}

.introGuideLaunch:hover {
  background-color: #3e7dd7;
}
.introGuideLaunch:active {
  background-color: #538dbd;
}

.diveSiteGuideLaunch {
  display: flex;
  font-family: 'Itim', cursive;
  font-size: 16px;
  cursor: pointer;
  background-color: #538bdb;
  width: 160px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
  margin-top: 10%;
}

.diveSiteGuideLaunch:hover {
  background-color: #3e7dd7;
}
.diveSiteGuideLaunch:active {
  background-color: #538dbd;
}

.photoGuideLaunch {
  display: flex;
  font-family: 'Itim', cursive;
  font-size: 16px;
  cursor: pointer;
  background-color: #538bdb;
  width: 160px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
  margin-top: 10%;
}

.photoGuideLaunch:hover {
  background-color: #3e7dd7;
}
.photoGuideLaunch:active {
  background-color: #538dbd;
}