#modalButtonDivPa {
  width: 30vw;
  height: 6vh;
  /* background-color: lightcoral; */
  margin-top: 35%;
  padding-top: 4px;
  font-family: "Patrick Hand", cursive;
  font-size: 2vw;
  font-weight: bolder;
  color: gold;
  border-radius: 0;
  border-top: 1px solid #f0eeeb;
  text-transform: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.inputboxType2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  width: 100%;
  font-family: "Itim", cursive;
  border: none;
  border-bottom: none;
  border-color: transparent;
  /* background-color: blueviolet; */
}

.containerP {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  width: 98%;
  margin-top: 4%;
  height: 96%;
}

.title {
  position: absolute;
  top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 90%;
}

.header2 {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  align-self: center;
  color: #f0eeeb;
  width: 90%;
  /* background-color: green */
}

.explainer {
  color: #f0eeeb;
  font-size: 1rem;
  text-align: center;
  width: 90%;
  font-family: "Itim", cursive;
  margin-top: 50%;
  margin-bottom: 10%;
}

.explainerMicro {
  color: #f0eeeb;
  font-size: 0.8rem;
  text-align: center;
  font-family: "Itim", cursive;
}
