@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

.inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-top: 15px;
  width: 100%;
  font-family: "Itim", cursive;
  border: none;
  border-bottom: none;
  border-color: transparent;
}

.inputboxAlt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-top: 15px;
  width: 100%;
  font-family: "Itim", cursive;
  border: none;
  border-bottom: none;
  border-color: transparent;
  background-color: pink;
}

.modalInputs {
  margin-top: 10px;
  border-radius: 10px;
  width: 80%;
  margin-left: -15%;
  border: none;
}

.selectbox {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 22%;
}
.modalInputs2 {
  margin-top: 10px;
  border-radius: 10px;
  width: 80%;
  margin-left: -15%;
  border: none;
}

.uploadbox {
  margin-left: 71px;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#projname {
  height: 20px;
  margin-left: -20px;
}

#locate {
  margin-left: 20%;
}

.Tbox {
  display: flex;
  flex-direction: row;
  margin-left: 23px;
}

.Gbox {
  margin-top: 28px;
  margin-left: 5px;
}

.fileSelectDiv {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: #538bdb;
  width: 160px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin-left: -10px;
}

.fileSelectDiv:hover {
  background-color: #3e7dd7;
}
.fileSelectDiv:active {
  background-color: #538dbd;
}