
  .containerF {
    display: flex;
    flex-direction: row;
    background-color: blue;
    /* align-items: center; */
    justify-content: center;
    align-self: center;
    width: 10vw;
    height: 6vh;
    z-index: 1;
    border-radius: 10%;

  }

  .inputboxF {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    /* margin-top: -2vh; */
    height: 6vh;
    /* width: 10vw; */
  }

  .suggestInput {
    /* background-color: purple; */
    /* font-size:  2rem; */
    width: 100%;
  }
/* 
  .xButton {
    z-index: 10;
    height: 1vw;
    width: 1vw;
    /* background-color: pink; */
  }

  .blankButton {
    z-index: 10;
    height: 1vw;
    width: 1vw;
    /* background-color: pink; */
  } */