
  .containerF {
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    /* align-items: center; */
    justify-content: center;
    align-self: center;
    width: 96%;
    height: 6vh;
    z-index: 1;
    border-radius: 10%;
    /* margin-left: -5%; */
    padding-right: 4%;
    /* padding-left: 15%; */
    font-size: 2rem;
  }

  .inputboxF {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    /* margin-top: -2vh; */
    height: 6vh;
    /* width: 10vw; */
  }

  .suggestInput {
    /* background-color: purple; */
    /* font-size:  2rem; */
    width: 100%;
  }

  .xButton {
    z-index: 10;
    height: 5%;
    width: 5%;
    /* background-color: pink; */
  }