
.text{
        font-family: Caveat, cursive;
        background-color: white;
        font-size: 2vw;
		color: darkblue;
        border-radius: 0px 10px 0px 0px;
        position: absolute;
        bottom: 0;
        padding-top: 0.5vw;
        margin-bottom: 0vw;
        width: 15vw;
        height: 3vw;
        text-align: center;
        box-shadow: 2px -2px 4px #00000064;
        pointer-events: all;
}

@media only screen and (max-width: 500px) {
    .text{
        padding-top: 1vh;
        margin-bottom: 0vw;
        width: 15vw;
        height: 3vw;
        font-size: 2vw;
}
}
