@import "../../../styles/variables.scss";

.middleContainer{
  width: 98%;
  height: 74%;
  overflow: hidden;
  overflow-y: auto;
}

.commentEntryContainer{
  position: fixed;
  bottom: 3%;
  left: 5%;
  // display: flex;
  width: 90%;
  height: 66px;
  // flex-direction: column;
  // background-color: aqua;
}

.replyLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 30px;
  padding-right: 8px;
  background-color: lightgray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.userText{
  font-weight: lighter;
  padding-left: 2%;
  margin-bottom: 1px;
}

.replyBox {
  position: fixed;
  width: 90%;
  bottom: 3%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  background-color: pink;
}
