@import "../../../styles/variables.scss";

.textInput {
  height: $control-size;
  display: flex;
  border-bottom: 1px solid $gray-color;
  color: $gray-color;

  &.error {
    border-bottom: 1px solid red;
  }

  input {
    border: none;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  .iconLeft,
  .iconRight {
    display: block;
    height: 100%;

    svg {
      height: 100%;
    }
  }
}