@import "../../styles/variables.scss";

.picZone {
  display: flex;
  height: 44.9%;
  width: 100%;
  background-color: $primaryBlue;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-width: 0;
  justify-content: center;
}

.picZoneHalf {
  display: flex;
  height: 44.9%;
  background-image: url("../../images/blackManta.png");
  background-size: cover;
  background-color: $primaryBlue;
  border-top-left-radius: 2vw;
  border-top-right-radius: 0;
  border-width: 0;
  justify-content: center;
  margin-top: "-30%";
}

.picStyles {
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.picStylesHalf {
  border-top-left-radius: 2vw;
  border-top-right-radius: 0;
}

.backButton {
  z-index: 2;
  top: 3%;
  left: 3%;
}

.headerText {
  font-size: $fontSizeHeader;
  font-family: $base-font-family;
  font-weight: 100;
  color: darkgrey;
  text-align: left;
  margin-left: 0%;
  // background-color: pink;
}

.creditLabel {
  font-size: $fontSizeStandardText;
  font-family: $base-font-family;
  font-weight: 300;
  color: $themeBlack;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 5%;
  margin-top: -5%;
  // background-color: pink;
}

.inputLabels {
  font-size: $fontSizeSmallText;
  font-family: $base-font-family;
  font-weight: 300;
  color: $themeBlack;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 2vh;
}

.submitZone {
  display: flex;
  width: 90%;
  border-width: 0;
  align-items: center;
  justify-content: flex-end;
  margin-top: -10%;
}

.drawerheader {
  font-size: $fontSizeHeader;
  font-family: $base-font-family;
  font-weight: 300;
  color: $themeBlack;
  margin-top: 2%;
  margin-bottom: 2%;
  border-top: 2px solid $themeBlack;
  border-bottom: 2px solid $themeBlack;
}

.drawerBody {
    width: 100%;
    height: 100%;
    // backgroundColor: pink;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.dateAndSiteLabels {
  font-size: $fontSizeSubHeading;
  font-family: $base-font-family;
  font-weight: 500;
  color: $themeBlack;
  background-color: lightgray;
  margin-top: 0%;
  margin-bottom: 2%;
  border-top: 2px solid $themeBlack;
  border-bottom: 2px solid $themeBlack;
}