@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@700&family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Overlock', cursive; */
/* font-family: 'Spinnaker', sans-serif; */


// Define variables to override default ones

$light-color: #f0eeeb;
$base-font-family: "Patrick Hand";

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";

@include padding-variant(6, $unit-6);

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
