@import "../../../styles/variables.scss";

.footer{
  background-color: $primaryBlue;
}

.headerIcons {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  li{
    margin: 0;
  }
}

.mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $themeBlack;
  font-style: italic;
  font-size: larger;
  font-weight: lighter;
}

.mainLogo:hover{
  text-decoration: none;
}


.lowerLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 7%;
  color: $themeBlack;
  font-style: italic;
  font-size:x-large;
  font-weight: lighter;
}