@import "../../../../styles/variables.scss";

// .buttonOpenPictureUpload {
//     position: absolute;
//     right: 4%;
//     top: 6%;
//     margin-inline: auto;
//     width: fit-content;
//     z-index: 1;
// }

.addPictureButton {
    margin-inline: auto;
    width: fit-content;
    z-index: 1;
}

  .panelHeader {
    border-bottom: 1px solid #dadada;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 1.5rem;
}
