.masterBox {
  width: 96%;
  margin-left: 2%;
  height: fit-content;
  margin-bottom: 3%;
}

.shadowbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: 0.125em solid #afafaf;
  box-shadow:  1px 3px 5px #87878780;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 3px;
  width: 90%;
  height: 80;
}

.moreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.tripName {
  color: #0d0d0d;
  margin-top: 0.em;
}

.opener {

  color: #0d0d0d;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
  /* background-color: green; */
}

.sitesButton {
  display: flex;
  margin-left: 10%;
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bookButton {
  display: flex;
  margin-right: 15%;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.extraBox {
  z-index: -1;
  overflow: hidden;
  margin-left: 5%;
  width: 93%;
  /* margin-top: -2%; */
  background-color: #fbfaf9;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow:  1px 3px 5px #87878780;
}

.topRail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 4%;
  margin-right: 4%;
}

.dateText {
  /* font-family: 'Itim', cursive; */
  font-size: 1.1em;
  color: #000000;
}

.priceText {
  /* font-family: 'Itim', cursive; */
  font-size: 1.1em;
  color: #000000;
}

.lowerText {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 1em;
  color: #000000;
}