.masterBox {
  width: 96%;
  margin-left: 2%;
  height: fit-content;
  margin-bottom: 3%;
}

.shadowbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow:  1px 3px 5px #00000080;
  background-color: #538dbd;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: 80;
}

.moreBox {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

.tripName {
  font-family: 'Itim', cursive;
  color: #F0EEEB;
  font-size: 15;
  margin-left: 10;
  margin-top: 5;
  height: 60%;
}

.opener {
  font-family: 'Itim', cursive;
  color: #F0EEEB;
  font-size: 12;
  margin-left: 70;
  margin-top: 0;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
  /* background-color: green; */
}

.sitesButton {
  display: flex;
  margin-left: 10%;
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bookButton {
  display: flex;
  margin-right: 15%;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.extraBox {
  z-index: -1;
  overflow: hidden;
  margin-left: 5%;
  width: 93%;
  margin-top: -2%;
  background-color: #F0EEEB;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow:  1px 3px 5px #00000080;
}

.topRail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2%;
  margin-left: 4%;
  margin-right: 4%;
}

.dateText {
  font-family: 'Itim', cursive;
  font-size: 1.1em;
  color: #000000;
}

.priceText {
  font-family: 'Itim', cursive;
  font-size: 1.1em;
  color: #000000;
}

.lowerText {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1%;
  margin-left: 4%;
  font-family: 'Itim', cursive;
  font-size: 1em;
  color: #000000;
}