.containerDiv {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #538dbd;
  padding-top: 3%;
}

.formstyle {
  align-items: center;
  background-color: #538dbd;
  max-height: 10vw;
  margin-top: -20vh;
  margin-bottom: 15vh;
}

.headlinerdiv {

  background-color: #538dbd;
  margin-top: 2vh;
}

.logoTag {
  margin-top: 1vh;
  font-family: "Caveat", cursive;
  font-size: 3vw;
  color: white;
}

.inpts {
  text-align: center;
  align-self: center;
  font-family: Indie Flower;
  text-overflow: ellipsis;
  background-color: #538dbd;
  width: 25vw;
  height: 4vh;
  color: lightgray;
  border-radius: 10px;
  margin: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

.authwrapper{
  display: flex;
  align-items: center;
  width: inherit;
  position: absolute;
  bottom: 2%;
}


.signButton {
  z-index: 2;
  width: 96vw;
  margin-left: 2vw;
  border-top: 1px solid lightgray;
  padding-top: 1vh;
  cursor: pointer;
  font-size: 2.5vw;
  font-family: "Patrick Hand", cursive;
  color: gold;
}

.erroMsg {
  margin: 1vw;
  padding: 1vw;
  color: pink;
  font-family: Indie Flower;
  font-size: 2vw;
  border-radius: 10px;
  border: 1px dashed darkblue;
  /* margin-bottom: 2vh; */
  margin-top: 2vh;
}


.GoogleLogo {
  height: 2vw;
}

.FacebookLogo {
  height: 2vw;
  /* margin-top: 3px;
  margin-left: 3px; */
}

.FButtton {
  background-color: #538dbd;
}

.Oaths {
  margin-top: 2vh;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.inptBx{
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.OAuthButton {
  display: flex;
  font-family: "Itim";
  color: white;
  font-size: 2vw;
  cursor: pointer;
  align-self: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  /* background-color: #538dbd; */
  /* width: 250px; */
  text-align: center;
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); */
  /* margin-left: 40%; */
  margin-top: 1vh
}

.OAuthButton2 {
  display: flex;
  font-family: "Bubblegum Sans", cursive;
  font-size: 2vw;
  cursor: pointer;
  background-color: #538dbd;
  /* width: 200px;
  height: 40px; */
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  /* margin-left: 40%; */
  margin-top: 1vh;
}

.OAuthButton3 {
  display: flex;
  font-family: "Indie Flower";
  font-size: 2vw;
  cursor: pointer;
  background-color: #538dbd;
  /* width: 200px;
  height: 40px; */
  text-align: center;
  border: none;
  /* padding-top: 7px; */
  margin-top: 1vh;
  color: white;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); */
  /* border-radius: 5px;
  
  /* margin-left: 40%; */
  /* margin-top: 5px; */
}
