@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap');

.mappagemaster{ 
   position: relative;
   width: 100vw;
   height: 100%;
}

.AutoSug{
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 400px;
    background-color: lightpink;
}

.picModalDiv{
    z-index: 200;
    position: absolute;
    top: 100vh;
    left: 35vw;
    width: 30vw;
    height: 80vh;
    background-color: #538bdb;
    border-radius: 2vw;
    border: 1px solid lightgrey;
}

.guideModalDiv {
    z-index: 210;
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100%;
    background: linear-gradient(transparent,rgb(83, 139, 219, 0.9));
}

.guideModalDiv2 {
    z-index: 210;
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100%;
    background: linear-gradient(transparent,rgb(83, 139, 219, 0.9));
}

.guideModalDiv3 {
    z-index: 210;
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100%;
    background: linear-gradient(transparent,rgb(83, 139, 219, 0.9));
}

.anchorModalDiv{
    z-index: 200;
    position: absolute;
    top: 100vh;
    left: 35vw;
    width: 30vw;
    height: 80vh;
    background-color: #538bdb;
    border-radius: 2vw;
    border: 1px solid lightgrey;
}

.searchModalDiv{
    z-index: 200;
    position: absolute;
    top: 100vh;
    left: 35vw;
    width: 30vw;
    height: 20vh;
    background-color: #538bdb;
    border-radius: 2vw;
    border: 1px solid lightgrey;
}

.fullScreenModalDiv {
    z-index: 200;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: 100vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
}

.commentScreen{
    z-index: 200;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: 100vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
}

.commentsModal {
    z-index: 200;
    width: 60vw;
    height: 62vh;
    margin-top: 38vh;
    background-color: #538bdb;
    border-radius: 2vw;
    border: 1px solid lightgrey;
}

.col2rowT {
	display: flex;
	flex-direction: column;
    align-items: center;
    height: 100px;
	width: 55vw;
    position: absolute;
    z-index: -1;
    top: 230px;
    border-radius: 8px;
	padding: 0.5rem 0.75rem;
    left: 50%;
	margin: 0 auto;
    transform: translate(-50%, 0%);
    opacity: 100%;
	filter: drop-shadow( 4px 4px 4px #00000064 );
    pointer-events: none;
    /* background-color: lightgrey; */
}

.col2rowT .sliderDiv {
	opacity: 100%;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    background-color: white;
	border-radius: 20px;
	padding: 0rem 1.75rem;
	max-height: 64px;
	
	background-color: #355d71;
	color: white;
}

.MuiSlider-root {
	padding: 0 0 1.25rem !important;
	max-width: 56vw !important;
}

.col2rowT .selectorDiv {
	margin: -2px 0 0 0;
    /* background-color: white; */
	width: fit-content;
	width: 50%;
	padding: 0.25rem 1.75rem;
	border-radius: 0 0 16px 16px;
	font-size: calc( 0.7rem + 0.5vw );
	font-family: 'Caveat', cursive;

	/* background-color: #355d71;
	color: white; */
}

.fabContainer {
    position: absolute;
    bottom: -12vh;
    left: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 60vw;	
    flex-direction: column;
    z-index: 5;
    pointer-events: none;
    /* background-color: pink; */
}

.fabButtons {
    z-index: 5;
    background-color: #538bdb;
    padding: 0.5vw;
    position: relative;
	display: flex;
    flex-direction: row;
    border-radius: 1vw;
    align-items: center;
    justify-content: space-evenly;
    gap: 1vw;
    min-width: fit-content;
    min-height: fit-content;
    pointer-events: all;
}

.just-testing2 {
    z-index: 2;
    position: absolute;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	gap: 0.5rem;
	bottom: 3%;
    right: 2%;
    /* background-color: burlywood; */
}

.animateFont {
    font-family: Itim;
    font-size: 2vh;
    color: white;
    pointer-events: all;
    cursor: pointer;
}

.buttonFont {
    margin-top: 10%;
    margin-bottom: 0;
    width: 100%;
    font-family: Itim;
    font-size: 0.8vw;
    color: white;
    cursor: pointer;
    /* background-color: lawngreen; */
}

.animateBox {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    height: 40%;
    /* background-color: khaki; */
}

.gearBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding-bottom: 0vh;
    pointer-events: all;
    /* background-color: lavender; */
}

.col1row8 {
    width: 100%;
    z-index: 2;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: pink;
}

/* .col1row9 {
    width: auto;
    z-index: 2;
    position: absolute;
    top: 30px;
    right: 30px;
} */

.col1rowB{
    width: 145px;
    z-index: 2;
    position: absolute;
    pointer-events: none;
    /* margin-top: 100vh; */
    bottom: 0;
    /* background-color: burlywood; */
    
}

.histoBox{
    height: auto;
    z-index: 2;
    position: absolute;
    bottom: 2vh;
    left: 30vw;
    /* background-color: white; */
    opacity: 100%;
    border-radius: 5px;
    font-family: 'Caveat', cursive;
    font-size: 1.5vw;
    font-weight: bold;
    width: 40vw;
}

.tutbarContainer {
    position: absolute;
    top: 14%;
    left: 10%;
    pointer-events: none;
    height: 100px;
    width: 300px;
    z-index: 300;
}

.tutorialBar {
    width: 100%;
    height: 100%;
  }

  .filterer {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    pointer-events: none;
    left: 25vw;
    top: 21.8vh;
  }

  .emptyBox {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: -2vh;
    pointer-events: none;
    /* width: 20vw; */
    /* background-color: grey */
  }

  .closer {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    pointer-events: none;
    /* margin-top: 0vh; */
    /* margin-bottom: -1vh; */
  }

  .pullTab {
    display: flex;
    margin-top: 0vh;
    margin-bottom: 2vh;
    min-height: 15px;
    height:  3vh;
    width:  25%;
    pointer-events: auto;
    background-color: gold;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    z-index: -1;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

@media only screen and (max-width: 500px) {

    .sliderDiv{
        display: flex;
        width: 55vw;
        height: 45px;
        background-color: white;
        opacity: 80%;
        border-radius: 10px;
        font-family: 'Permanent Marker', cursive;
        font-size: large;
        margin-top: -2px;
    }


    .col2rowB{
        height: 25px;
        z-index: 2;
        position: absolute;
        bottom: 0;
        background-color: white;
        opacity: 80%;
        border-radius: 5px;
        font-family: 'Caveat', cursive;
        font-size: large;
        font-weight: bold;
        margin-left: clamp(10px, 22vw, 2000px);
        width: 75vw;
    }

    @media only screen and (max-height: 400px) {
        .fabContainer {
            position: absolute;
            bottom: -14vh;
            left: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20vh;
            width: 60vw;	
            flex-direction: column;
            z-index: 5;
            pointer-events: none;
            /* background-color: pink; */
        }
    }

}