@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Permanent+Marker&display=swap');

.mappagemaster{ 
   position: relative;
   width: 100vw;
   height: 100%;
}

.AutoSug{
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 400px;
    background-color: lightpink;
}

.picModalDiv{
    z-index: 200;
    position: absolute;
    top: 100vh;
    left: 35%;
    width: 500px;
    height: 700px;
    background-color: #538bdb;
    border-radius: 25px;
}

.guideModalDiv {
    z-index: 210;
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100%;
    background: linear-gradient(transparent,rgb(83, 139, 219, 0.9));
}

.guideModalDiv2 {
    z-index: 210;
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100%;
    background: linear-gradient(transparent,rgb(83, 139, 219, 0.9));
}

.guideModalDiv3 {
    z-index: 210;
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100%;
    background: linear-gradient(transparent,rgb(83, 139, 219, 0.9));
}

.anchorModalDiv{
    z-index: 200;
    position: absolute;
    top: 100vh;
    left: 35%;
    min-width: 500px;
    width: 33vw;
    height: 700px;
    background-color: #538bdb;
    border-radius: 25px;
}

.col2rowT {
	display: flex;
	flex-direction: column;
    align-items: center;
    height: 100px;
	width: 55vw;
    position: absolute;
    z-index: 4;
    top: 230px;
    border-radius: 8px;
	padding: 0.5rem 0.75rem;
    left: 50%;
	margin: 0 auto;
    transform: translate(-50%, 0%);
    opacity: 100%;
	filter: drop-shadow( 4px 4px 4px #00000064 );
    pointer-events: none;
    /* background-color: lightgrey; */
}

.col2rowT .sliderDiv {
	opacity: 100%;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    background-color: white;
	border-radius: 20px;
	padding: 0rem 1.75rem;
	max-height: 64px;
	
	background-color: #355d71;
	color: white;
}

.MuiSlider-root {
	padding: 0 0 1.25rem !important;
	max-width: 56vw !important;
}

.col2rowT .selectorDiv {
	margin: -2px 0 0 0;
    /* background-color: white; */
	width: fit-content;
	width: 50%;
	padding: 0.25rem 1.75rem;
	border-radius: 0 0 16px 16px;
	font-size: calc( 0.7rem + 0.5vw );
	font-family: 'Caveat', cursive;

	/* background-color: #355d71;
	color: white; */
}

.fabButtons {
    z-index: 5;
    /* background-color: khaki; */
    position:absolute;
	display: flex;
    flex-direction: column;
    height: 419px;
	gap: 0.5rem;
	bottom: 200px;
    right: 67px;
    width: 10px;
}

.just-testing2 {
    z-index: 2;
    position: absolute;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	bottom: 40px;
	right: 30px;
}

/*
.col1row2 {
    z-index: 2;
    position: absolute;
    top: 80px;
    left: 10px;
}

.col1row3 {
    z-index: 2;
    position: absolute;
    top: 140px;
    left: 10px;
}

.col1row4 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 203px;
    left: 10px
}

.col1row5 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 263px;
    left: 10px
}

.col1row6 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 323px;
    left: 10px;
}

.col1row7 {
    width: 50px;
    z-index: 2;
    position: absolute;
    top: 383px;
    left: 10px;
}
*/
.col1row8 {
    width: 100%;
    z-index: 2;
    position: relative;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

/* .col1row9 {
    width: auto;
    z-index: 2;
    position: absolute;
    top: 30px;
    right: 30px;
} */

.col1rowB{
    width: 145px;
    z-index: 2;
    position: absolute;
    /* margin-top: 100vh; */
    bottom: 0;
    
}

.col2rowB{
    height: auto;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: -10%;
    /* background-color: white; */
    opacity: 100%;
    border-radius: 5px;
    font-family: 'Caveat', cursive;
    font-size: large;
    font-weight: bold;
    margin-left: clamp(10px, 35vw, 2000px);
    width: clamp(50px, 50vw, 1000px);
	/* width: 55vw; */
}

.tutbarContainer {
    position: absolute;
    top: 14%;
    left: 10%;
    pointer-events: none;
    /* background-color: maroon; */
    height: 100px;
    width: 300px;
    z-index: 300;
}

.tutorialBar {
    width: 100%;
    height: 100%;
    /* background-color: pink; */
  }

  .filterer {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    pointer-events: none;
    left: 25vw;
    top: 21.8vh;
    /* height: 0vh; */
    /* width: 10vw; */
    z-index: 301;
    /* background-color: green; */
  }

  .emptyBox {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: -2vh;
    pointer-events: none;
    /* width: 20vw; */
    z-index: 3;
    /* background-color: grey */
  }

  .closer {
    /* background-color: pink; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 21vw;
    pointer-events: none;
    /* margin-top: 0vh; */
    /* margin-bottom: -2vh; */
    z-index: 5;
  }

  .pullTab {
    display: flex;
    margin-top: 0vh;
    margin-bottom: 2vh;
    min-height: 15px;
    height:  3vh;
    width:  25%;
    pointer-events: auto;
    background-color: gold;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    /* z-index: 310; */
    align-self: center;
    justify-self: center;
  }

@media only screen and (max-width: 500px) {

    .sliderDiv{
        display: flex;
        width: 55vw;
        height: 45px;
        background-color: white;
        opacity: 80%;
        border-radius: 10px;
        font-family: 'Permanent Marker', cursive;
        font-size: large;
        margin-top: -2px;
    }


    .col2rowB{
        height: 25px;
        z-index: 2;
        position: absolute;
        bottom: 0;
        background-color: white;
        opacity: 80%;
        border-radius: 5px;
        font-family: 'Caveat', cursive;
        font-size: large;
        font-weight: bold;
        margin-left: clamp(10px, 22vw, 2000px);
        width: 75vw;
    }

}