@import '../../../styles/variables.scss';

.modalWrapper {
  display: none;

  &.active {
    display: block;
  }

  .modalContainer {
    transform: translateY(100vh);
    background: $primary-color;
    width: 70vw;
    max-width: 600px;
    height: 65vh;
    margin: 20vh auto;
    z-index: 6;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    &.small {
      height: 30vh;
    }
    &.medium {
      height: 65vh;
    }
    &.large {
      height: 75vh;
    }
  }
}
