@import "../../../styles/variables.scss";

.buttonBack {
  svg {
      scale: 2;
  }
}

textarea{
  width: 100%;
  outline: 0.1em solid #afafaf;
  border-radius: 10px;
  padding:0.3rem;
  text-align: center;
}