@import "../../../styles/functions.scss";
@import "../../../styles/variables.scss";

:root {
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 6px;
}

.wrapper {
  position: relative;
  display: inline-block; 
}

.tip {
  position: fixed; 
  border-radius: 4px;
  padding: 6px;
  color: $themeWhite;
  background: $primaryBlue;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1;
  white-space: nowrap;
  z-index: z-index("tooltip");
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.tip::before {
  content: "";
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  height: 0;
  width: 0;
  border-width: var(--tooltip-arrow-size);
}

.top::before {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: $primaryBlue;
}

.bottom::before {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: $primaryBlue;
}

.left::before {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-left-color: $primaryBlue;
}

.right::before {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-right-color: $primaryBlue;
}

