.suggestInput {
  height: 5vh;
  width: 18vw;
  margin-bottom: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  border: none;
  text-align: center;
  text-overflow: ellipsis;
  color: #F0EEEB;
  font-family: 'Indie Flower';
  border-radius: 20px;
}

.suggestInput:focus {
  user-select: none;
  outline: none;
}
.itemHover :hover {
  background-color: lightgrey;
}
.suggestItem {
  width: 12vw;
  height: auto;
  background-color: #538bdb;
  border: transparent;
  border-radius: 5px;
  list-style: none;
  transform: translateX(11px);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  color: #f0eeeb;
  margin: 0.5%;
}

#XButton {
  margin: 0px;
  padding: 0px;
  margin-top: -4vh;
  margin-left: 14vw;
  margin-bottom: 4vh;
  background-color: blueviolet;
}
