.suggestInput {
  height: "5vh";
  width: "18vw";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  text-align: center;
  text-overflow: ellipsis;
  color: #f0eeeb;
  border-radius: 5px;
}

.suggestInput:focus {
  user-select: none;
  outline: none;
}

.suggestItem {
  width: 12vw;
  height: auto;
  background-color: #538bdb;
  border: transparent;
  border-radius: 5px;
  list-style: none;
  transform: translateX(11px);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  color: #f0eeeb;
  margin: 0.5%;
}

#XButton {
  margin: 0px;
  padding: 0px;
  margin-top: -10%;
  margin-left: 15vw;
  background-color: blueviolet;
}
