@import "../../../styles/variables.scss";

.rc-select-customize-input {
  
  height: $control-size;
  border: 1px solid green;
  
  .rc-select-selector{
    height: 100%;
  }

  .rc-select-prefix > *{
    height: 100%;
  }

  input {
    border: 1px solid red;
    height: 100%;
  }
}