@import "../../../styles/variables.scss";

.buttonImageUpload {
    position: absolute;
    right: 3%;
    bottom: 15%;
    z-index: 1;
}

.buttonImageUploadLarge {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 1;
}
