@import '../../../styles/variables.scss';

.shareContainer {
  position: relative;
  z-index: 100;
}

.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: darken($bg-color, 5%);
    transform: translateY(0px);
    scale: 1.05;
  }

  &:active {
    transform: translateY(0);
    scale: 0.95;
    background-color: darken($bg-color, 10%);
  }
}

.socialIcon {
  font-size: 1.75rem;
  color: rgb(17, 115, 214);
  width: 30px;
  height: 30px;
  fill: rgb(255, 255, 255);
}

.socialShareContainer {
  position: absolute;
  bottom: -50px;
  border-radius: 40px;
  right: -5px;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  background-color: rgb(17, 115, 214);
  padding: 0.25rem 0.3rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
  transform: translate(20px, -10px);

  &.show {
    opacity: 1;
    transform: translate(20px, 2px);
    pointer-events: auto;
  }

  &:before {
    content: '';
    position: absolute;
    top: -4px;
    right: 36px;
    width: 16px;
    height: 16px;
    background-color: rgb(17, 115, 214);
    transform: rotate(45deg);
    border-radius: 2px;
    z-index: -1;
  }
}
