.emptyState {
    width: 100%;
    max-height: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.emptyState p {
    font-weight: 500;
    margin: 0;
}

.emptyStateIcons {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
}

.emptyStateIcon {
    width: 1.75rem;
    height: auto;
    padding: 0.2rem;
    border-radius: 100%;
    color: white;
    background-color: var(--ssrc-site-selector-icon-background);
    position: absolute;
    z-index: 10;
    border: 0.1rem #f9f9f9 solid;
}

.emptyStateIconLeft {
    width: 1.5rem;
    height: auto;
    padding: 0.2rem;
    border-radius: 100%;
    color: white;
    background-color: var(--ssrc-site-selector-icon-background);
    position: absolute;
    top: -0.3rem;
    left: -0.75rem;
    z-index: 5;
    scale: 0.9;
}

.emptyStateIconRight {
    width: 1.5rem;
    height: auto;
    padding: 0.2rem;
    border-radius: 100%;
    color: white;
    background-color: var(--ssrc-site-selector-icon-background);
    position: absolute;
    top: -0.3rem;
    right: -0.75rem;
    z-index: 5;
    scale: 0.9;
}