.mainSearch {
  --ssrc-select-checkbox-width: 0;
  --ssrc-select-control-height: 50px;
  --ssrc-select-border-color: transparent;
  background-color: rgb(232, 232, 232);
  border-radius: 20px;
  margin-top: 10px;
}