@import "../../../styles/variables.scss";

.buttonAddDivingEvents {
    margin-inline: auto; 
    width: fit-content;
    z-index: 1;
}

.pictureZone {
    height: 44.9%;
    background-color: $primaryBlue;
    overflow: hidden;
}

.buttonImageUpload {
  position: absolute;
  right: 3%;
  bottom: 15%;
  z-index: 1;
}

